EXPO_APP_URL=http://localhost:8081
EXPO_METRO_URL=exp://192.168.0.103:8081
EXPO_PUBLIC_API_BASE_URL=http://localhost:8080/api

OAUTH2_WEB_ORIGIN=http://localhost:8081
OAUTH2_WEB_REDIRECT_URI=http://localhost:8080/login/oauth2/code/google

# Google OAuth2 Web Credentials (replace with your own)
OAUTH2_CLIENT_ID=80250826332-hqmcn2u8dojq53babj4knqf4udfkmmpd.apps.googleusercontent.com
OAUTH2_CLIENT_SECRET=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

# Google OAuth2 Android Credentials (replace with your own)
OAUTH2_CLIENT_ID_ANDROID=80250826332-uglk67paqab3almqicks51qhf786k040.apps.googleusercontent.com
SHA_1_FINGERPRINT=0A:9B:4E:EE:2C:8A:87:AC:6B:06:1F:3E:0C:1E:2C:5F:E0:4A:0D:B3
# No client secret required for Android